[Unit]
Description=Geoblocker
After=network.target

[Service]
WorkingDirectory=/opt/geoblocker
Environment=PORT=9000
ExecStart=/usr/bin/java -jar geoblocker.jar
Restart=always

[Install]
WantedBy=multi-user.target

